.lead {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 148px;
  padding-right: 148px;

}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 319px) {
  .header__logo {
    max-width:320px;
  }
}