.footer__link {
  color: white;
  list-style: none;
  text-decoration: none;
}
.footer__link:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .footer__link  {
    min-height: 56px;
    }
}