.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Inter;
  padding-left: 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
    padding-left: 48px;
  }
}
@media screen and (max-width: 1023px) {
  .intro {
    padding-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    padding-left: 24px;
    max-width: 320px;
  }
}