.lead__subtitle {
  display: flex;
  padding-bottom: 64px;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 32px;
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1023px) {
  .lead__subtitle {
    max-width: 640px;
    font-weight: normal;
    line-height: 36px;
}

@media screen and (max-width: 319px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px; 
  }
}