.place {
  max-width: 100%;
  margin: 0;
  padding-top: 80px;
  display: grid;
  grid-template-areas:
    "place__title place__image"
    "place__website place__paragraphs";
  grid-gap: 48px 40px;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 928px;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding-top: 73px;
    grid-gap: 48px 28px;

  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 50px;
    margin: 0;
  }
}