.place {
  max-height: 660px;
  margin: 0;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, auto-fit, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "place__title place__image"
  "place__website place__paragraph"
  ". place__paragraph";
  grid-gap: 48px 40px; 
  color: #FFFFFF;

}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 100%;
    padding-top: 73px;
    grid-gap: 28px 25px; 
    height: 483px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 100%;
    min-height: 1042px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}