.place {
  max-width: 984px;
  max-height: 660px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
  grid-gap: 48px 40px;
  font-family: Inter;
  color: white; 
  margin: 0 auto;
  padding-bottom: 80px;
}